.first_row{
    text-align: center;
}
p{
    font-size: 10px;
}
.round_box{
    text-align: center;
    border: 1px solid red;
    border-radius: 80px;
    padding:5px 15px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,-2.81)
}
.sub_round_box{
    border-radius: 80px;
    padding:5px 15px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,-2.81)
}
.sub_round_box p{
    margin: 0px;
}
.col-md-6{
    padding: 0px 8px !important;
}
.round_box p{
    margin: 0px;
}
.text_red{
    color:red;
}
.side_block:before {
    content: "";
    position: absolute;
    width: 20px; 
    left: 12%;
    height: 1px; 
    background-color: #bfbfbf; 
    z-index: -1;
    margin-top:18px ;
}
.t_top_block:before{
    content: "";
    position: absolute;
    width: 1px; 
    height: 15px; 
    background-color: #bfbfbf; 
    z-index: -1;
    right:37%;
    margin-top:-20px;
}
.t_side_block:before{
    content: "";
    position: absolute;
    width: 22px; 
    right: 255px;
    height: 1px; 
    background-color: #bfbfbf; 
    z-index: -1;
    margin-top:18px;
}
.tt_top_block:before{
    content: "";
    position: absolute;
    width: 1px; 
    height: 25px; 
    background-color: #bfbfbf; 
    z-index: -1;
    right:27%;
    margin-top:-25px;
}
.tt_side_block:before {
    content: "";
    position: absolute;
    width: 20px; 
    right: 30%;
    height: 1px; 
    background-color: #bfbfbf; 
    z-index: -1;
    margin-top:18px ;
}
.top_block::before{
    content: "";
    position: absolute;
    width: 1px; 
    height: 15px; 
    background-color: #bfbfbf; 
    z-index: -1;
    left:7%;
    margin-top:-20px;
}